#headerofinterface
{
    padding-left: 1em;
}

h1
{
    color: gold;
}

body
{
    background-color: #08081b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

/*table*/
/*{*/
/*    justify-content: center;*/
/*}*/

tr
{
    background-color: #2c3152;
    border: gold solid 3px;
    text-align: center;
}

tr:nth-child(even)
{
    background-color: #494c66;
}

td
{
    width:30%;
    padding-left: 5em;
    padding-right: 5em
}

#colheader
{
    background-color: gold;
    color: black;
    font-weight: bold;
}

